<!DOCTYPE html>
{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
<div class="jumbotron">
    <h1> Welcome to School Detail Page</h1>
    <h2> School details:</h2>
    <p>Name: {{ schools_detail.name }}</p>
    <p>Principal: {{ schools_detail.principal }}</p>
    <p>Location: {{ schools_detail.location }}</p>
    <h3>Students</h3>
    {% for student in schools_detail.students.all %}
        <p>{{ student.name }} who is {{ student.age }} years old.</p>
    {% endfor %}
</div>
<div class="container">
    <p><a class='btn btn-warning' href="{% url 'basic_app:update' pk=schools_detail.pk %}">Update</a></p>
</div>
{% endblock %}